extends layout

block content
  div.container
    h2(style="text-align:center") #{title}
    ul.list-group
      each article, i in articles
        li.list-group-item.list-custom
          a(href="/articles/"+article._id)= article.title
